.player {
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211);
    width: 190px;
    height: 60px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    opacity: 0.6;
    padding-left: 5px;

    span {
        font-size: 25px;
        margin-inline: 10px;
        word-break: break-all;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: red;
        padding: 4px;
    }
}

.player-active {
    background-color: orange !important;
    width: 200px !important;
    opacity: 1 !important;
}

@media (max-width: 420px) {
    .player {
        width: 150px;

        span {
            font-size: 20px;
        }
    }

    .player-active {
        width: 160px !important;
    }
}

@media (max-width: 350px) {
    .player {
        width: 130px;

        span {
            font-size: 18px;
        }
    }

    .player-active {
        width: 140px !important;
    }
}