.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-container {
    position: absolute;
    right: 0;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;
    max-height: calc(100vh - 150px);
}

app-player {
    position: relative;
    margin-bottom: 10px;
}

.add-player {
    position: absolute;
    right: 2%;
    bottom: 30px;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        height: 300px;
        top: -30px;
    }

    button {
        position: absolute;
        right: 23px;
        top: 140px;
        width: 150px;
        height: 50px;
        font-size: 18px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.05) translateY(-8px);
    }
}

.played-card-0 {
    right: 0px;
    transform: scale(1) translateX(125%) translateY(-70%) rotate(-15deg);
}

.played-card-1 {
    right: 0px;
    transform: scale(1) translateX(125%) translateY(-70%) rotate(10deg);
}

.played-card-2 {
    right: 0px;
    transform: scale(1) translateX(125%) translateY(-60%) rotate(0deg);
}

.pick-card-0 {
    animation: pick-card-animation-0 1s ease-in-out;
    transform: scale(1) translateX(125%) translateY(-70%) rotate(-15deg);
}

.pick-card-1 {
    animation: pick-card-animation-1 1s ease-in-out;
    transform: scale(1) translateX(125%) translateY(-70%) rotate(10deg);
}

.pick-card-2 {
    animation: pick-card-animation-2 1s ease-in-out;
    transform: scale(1) translateX(125%) translateY(-60%) rotate(0deg);
}

.legal-notice {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        line-height: 20px;
    }
}

@keyframes pick-card-animation-0 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        right: 0px;
        transform: scale(1) translateX(125%) translateY(-70%) rotate(-15deg);
    }
}

@keyframes pick-card-animation-1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        right: 0px;
        transform: scale(1) translateX(125%) translateY(-70%) rotate(10deg);
    }
}

@keyframes pick-card-animation-2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        right: 0px;
        transform: scale(1) translateX(125%) translateY(-60%) rotate(0deg);
    }
}

@media (max-width: 1000px) {
    .card-stack {
        left: -150px;
    }
}

@media (max-width: 735px) {
    .player-container {
        max-height: calc(100vh - 170px);
    }
}

@media (max-width: 700px) and (min-height: 600px) {
    .card-stack {
        left: 0;
        scale: 0.9;
    }

    .played-card-0 {
        right: 20px;
        transform: scale(1) translateY(-120%) rotate(-15deg);
    }

    .played-card-1 {
        right: 20px;
        transform: scale(1) translateY(-120%) rotate(10deg);
    }

    .played-card-2 {
        right: 20px;
        transform: scale(1) translateY(-110%) rotate(0deg);
    }

    .pick-card-0 {
        animation: pick-card-animation-0 1s ease-in-out;
        transform: scale(1) translateY(-120%) rotate(-15deg);
    }

    .pick-card-1 {
        animation: pick-card-animation-1 1s ease-in-out;
        transform: scale(1) translateY(-120%) rotate(10deg);
    }

    .pick-card-2 {
        animation: pick-card-animation-2 1s ease-in-out;
        transform: scale(1) translateY(-110%) rotate(0deg);
    }

    @keyframes pick-card-animation-0 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.3);
        }

        100% {
            right: 20px;
            transform: scale(1) translateY(-120%) rotate(-15deg);
        }
    }

    @keyframes pick-card-animation-1 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.3);
        }

        100% {
            right: 20px;
            transform: scale(1) translateY(-120%) rotate(10deg);
        }
    }

    @keyframes pick-card-animation-2 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.3);
        }

        100% {
            right: 20px;
            transform: scale(1) translateY(-110%) rotate(0deg);
        }
    }
}

@media (max-width: 520px) {
    .card-stack {
        scale: 0.8;
    }
}

@media (max-width: 485px) {
    .player-container {
        max-height: calc(100vh - 190px);
    }
}

@media (max-width: 440px) {
    .card-stack {
        scale: 0.7;
    }
}

@media (max-width: 400px) {
    .player-container {
        max-height: calc(100vh - 210px);
    }
}

@media (max-width: 360px) {
    .card-stack {
        scale: 0.6;
    }
}

@media (max-width: 346px) {
    .player-container {
        max-height: calc(100vh - 230px);
    }
}

@media (max-width: 301px) {
    .player-container {
        max-height: calc(100vh - 240px);
    }
}

@media (max-width: 282px) {
    .player-container {
        max-height: calc(100vh - 260px);
    }
}

@media (max-height: 850px) {
    .card-stack {
        top: -10px;
    }
}

@media (max-height: 800px) {
    .card-stack {
        scale: 0.9;
    }
}

@media (max-height: 750px) {
    .card-stack {
        top: -30px;
    }
}

@media (max-height: 700px) {
    .card-stack {
        scale: 0.8;
    }
}

@media (max-height: 680px) {
    .card-stack {
        top: -50px;
    }
}

@media (max-height: 590px) {
    .card-stack {
        scale: 0.7;
        top: -70px;
    }
}

@media (max-height: 500px) {
    .card-stack {
        scale: 0.6;
    }
}

@media (max-height: 435px) {
    .card-stack {
        scale: 0.5;
    }
}