.content {
    overflow: unset;
}

.player-select {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        opacity: 0.6;
        width: 60px;

        img {
            height: 40px;
            width: 40px;
            border: 2px solid transparent;
            border-radius: 100%;
        }

        &:hover {
            opacity: 1;
        }
    }

    :checked+label {
        opacity: 1;

        img {
            height: 50px;
            width: 50px;
            border: 2px solid rgba(0, 0, 0, 0.4);
        }
    }
}

@media (max-width: 310px) {
    mat-form-field {
        width: 100%;
    }
}