<div class="container">
    <mat-card class="example-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
            <p>This card indeterminates progress bar.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae impedit provident sed consequatur
                obcaecati officia nemo distinctio reprehenderit, voluptatibus repellendus. Reprehenderit distinctio
                soluta, incidunt earum ad illo sed quod unde.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>